    <%- include header %>
    <% posts.forEach(function(post, index){ %>
    <div class="acticle col-md-3 col-sm-5">
    <div class="acticle-part">
	<p><h3><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %> </a></h3></p>
	<p class="info">
		作者:<a href="/u/<%= post.name %>"><%= post.name %></a>
		日期:<%= post.time.minute %>
	</p>
	<%- post.post %></div>
	<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" 
	class="btn btn-default btn-read">阅读全文</a>
	</div>
    <%}) %>
    <%- include footer %>
  
